<% layout("layouts/boilerplate") %>
    <div id="cluster-map"></div>

    <div class="row">
        <div class="row">
            <div class="col-4">
                <h1>All Campgrounds</h1>
            </div>
            <div class="col-8">
                <div class="row d-flex flex-row">
                    <form action="/campgrounds" method="GET">
        
                        <div class="">
                            <input type="text" name="search" placeholder="Campground search..." class="form-control">
                        </div>
                        <div class="">
                            <button class="btn btn-outline-success" value="Search" type="submit">Search</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card mb-2">
                <form action="/campgrounds" method="GET">
                    <div class="card-header">
                        <strong>Sort by:</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="row m-1">
                                    <select class="form-select" name="sort" aria-label="Default select example">
                                        <option value="" selected>Relevance </option>
                                        <option value="price" <%= Object.keys(queryStr).length !== 0  && queryStr.sort !== undefined  && queryStr.sort === "price" ? "selected" : "" %>>Price (ascending)</option>
                                        <option value="-price" <%= Object.keys(queryStr).length !== 0  && queryStr.sort !== undefined  && queryStr.sort === "-price" ? "selected" : "" %>>Price (descending)</option>
                                        <option value="-overallRating" <%= Object.keys(queryStr).length !== 0  && queryStr.sort !== undefined  && queryStr.sort === "-overallRating" ? "selected" : "" %>>Review Score</option>
                                      </select>
                        </div>
                        <div class="card-header">
                            <strong>Filter by:</strong>
                        </div>

                        <li class="list-group-item"><strong style="background-color: rgb(20, 169, 1);">Price</strong>
                            <input type="number" class="form-control form-control-sm mb-2" name="price[gte]"
                                placeholder="Min" min="0" max="599" 
                                value="<%= Object.keys(queryStr).length !== 0  && queryStr.price !== undefined  && queryStr.price.gte > 0 ? queryStr.price.gte : "0" %>">
                            <input type="number" class="form-control form-control-sm" name="price[lte]"
                                placeholder="Max" min="1" max="600"
                                value="<%= Object.keys(queryStr).length !== 0  && queryStr.price !== undefined && queryStr.price.lte < 600 ? queryStr.price.lte : "600" %>">
                        </li>

                        <li class="list-group-item"><strong style="background-color: rgb(20, 169, 1);">Property
                                Type</strong>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="propertyType" value="Camping"
                                    id="camping" <%= Object.keys(queryStr).length !== 0 && queryStr.propertyType !== undefined && queryStr.propertyType.includes("Camping") ? "checked" : "" %>>
                                <label class="form-check-label" for="camping">
                                    Camping
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="propertyType" value="Glamping"
                                    id="glamping" <%= Object.keys(queryStr).length !== 0 && queryStr.propertyType !== undefined && queryStr.propertyType.includes("Glamping") ? "checked" : "" %>>
                                <label class="form-check-label" for="glamping">
                                    Glamping
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="propertyType" value="Chalet"
                                    id="chalet" <%= Object.keys(queryStr).length !== 0 && queryStr.propertyType !== undefined && queryStr.propertyType.includes("Chalet") ? "checked" : "" %>>
                                <label class="form-check-label" for="chalet">
                                    Chalet
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="propertyType"
                                    value="Landowner Campsites" id="landownerCampsites" <%= Object.keys(queryStr).length !== 0 && queryStr.propertyType !== undefined && queryStr.propertyType.includes("Landowner Campsites") ? "checked" : "" %>>
                                <label class="form-check-label" for="landownerCampsites">
                                    Landowner Campsites
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item"><strong style="background-color: rgb(20, 169, 1);">Review
                                Score</strong>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="overallRating[gte]" value="4" id="overallRating4"
                                    <%=Object.keys(queryStr).length !==0 && queryStr.overallRating !== undefined && queryStr.overallRating.gte === "4" ? "checked" : "" %>>
                                <label class="form-check-label" for="overallRating4">
                                    4+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="overallRating[gte]" value="3" id="overallRating3"
                                    <%=Object.keys(queryStr).length !==0 && queryStr.overallRating !== undefined && queryStr.overallRating.gte === "3" ? "checked" : "" %>>
                                <label class="form-check-label" for="overallRating3">
                                    3+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="overallRating[gte]" value="2" id="overallRating2"
                                    <%=Object.keys(queryStr).length !==0 && queryStr.overallRating !== undefined && queryStr.overallRating.gte === "2" ? "checked" : "" %>>
                                <label class="form-check-label" for="overallRating2">
                                    2+
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="overallRating[gte]" value="1" id="overallRating1"
                                    <%=Object.keys(queryStr).length !==0 && queryStr.overallRating !== undefined && queryStr.overallRating.gte === "1" ? "checked" : "" %>>
                                <label class="form-check-label" for="overallRating1">
                                    1+
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item"><strong
                                style="background-color: rgb(20, 169, 1);">Facilities</strong>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="parking" value="true" id="parking"
                                    <%= Object.keys(queryStr).length !== 0 && queryStr.parking === "true" ? "checked" : "" %>>

                                <label class="form-check-label" for="parking">
                                    Parking
                                </label>
                            </div>
                        
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="wifi" value="true" id="wifi"
                                    <%=queryStr.length !==0 && queryStr.wifi==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="wifi">
                                    WiFi
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="petFriendly" value="true"
                                    id="petFriendly" <%=queryStr.length !==0 && queryStr.petFriendly==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="petFriendly">
                                    Pet Friendly
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="nonStopCheckIn" value="true"
                                    id="nonStopCheckIn" <%=queryStr.length !==0 && queryStr.nonStopCheckIn==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="nonStopCheckIn">
                                    24h Check In
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="nonSmokingRooms" value="true"
                                    id="nonSmokingRooms" <%=queryStr.length !==0 && queryStr.nonSmokingRooms==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="nonSmokingRooms">
                                    Non-Smoking Rooms
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="EVChargingStation" value="true"
                                    id="EVChargingStation" <%=queryStr.length !==0 && queryStr.EVChargingStation==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="EVChargingStation">
                                    EV Charging Station
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="kitchen" value="true" id="kitchen"
                                    <%=queryStr.length !==0 && queryStr.kitchen==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="kitchen">
                                    Kitchen
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="barbecue" value="true"
                                    id="barbecue" <%=queryStr.length !==0 && queryStr.barbecue==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="barbecue">
                                    Barbecue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="campfire" value="true"
                                    id="campfire" <%=queryStr.length !==0 && queryStr.campfire==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="campfire">
                                    Campfire
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="swimmingPool" value="true"
                                    id="swimmingPool" <%=queryStr.length !==0 && queryStr.swimmingPool==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="swimmingPool">
                                    Swimming Pool
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="hotTub" value="true" id="hotTub"
                                    <%=queryStr.length !==0 && queryStr.hotTub==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="hotTub">
                                    Hot Tub
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="coffeTeaMaker" value="true"
                                    id="coffeTeaMaker" <%=queryStr.length !==0 && queryStr.coffeTeaMaker==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="coffeTeaMaker">
                                    Coffe/Tea Maker
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item"><strong style="background-color: rgb(20, 169, 1);">Room
                                Facilities</strong>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="privateBathroom" value="true"
                                    id="privateBathroom" <%=queryStr.length !==0 && queryStr.privateBathroom==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="privateBathroom">
                                    Private Bathroom
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="refrigerator" value="true"
                                    id="refrigerator" <%=queryStr.length !==0 && queryStr.refrigerator==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="refrigerator">
                                    Refrigerator
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="TV" value="true" id="TV"
                                    <%=queryStr.length !==0 && queryStr.TV==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="TV">
                                    TV
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="airConditioning" value="true"
                                    id="airConditioning" <%=queryStr.length !==0 && queryStr.airConditioning==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="airConditioning">
                                    Air Conditioning
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="balcony" value="true" id="balcony"
                                    <%=queryStr.length !==0 && queryStr.balcony==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="balcony">
                                    Balcony
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="towels" value="true" id="towels"
                                    <%=queryStr.length !==0 && queryStr.towels==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="towels">
                                    Towels
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item"><strong style="background-color: rgb(20, 169, 1);">Fun Things To
                                Do</strong>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="biking" value="true" id="biking"
                                    <%=queryStr.length !==0 && queryStr.biking==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="biking">
                                    Biking
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="ATV" value="true" id="ATV"
                                    <%=queryStr.length !==0 && queryStr.ATV==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="ATV">
                                    ATV
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="motocross" value="true"
                                    id="motocross" <%=queryStr.length !==0 && queryStr.motocross==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="motocross">
                                    Motocross
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="fishing" value="true" id="fishing"
                                    <%=queryStr.length !==0 && queryStr.fishing==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="fishing">
                                    Fishing
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="canoeing" value="true"
                                    id="canoeing" <%=queryStr.length !==0 && queryStr.canoeing==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="canoeing">
                                    Canoeing
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="hiking" value="true" id="hiking"
                                    <%=queryStr.length !==0 && queryStr.hiking==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="hiking">
                                    Hiking
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="equestrian" value="true"
                                    id="equestrian" <%=queryStr.length !==0 && queryStr.equestrian==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="equestrian">
                                    Equestrian
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="climbing" value="true"
                                    id="climbing" <%=queryStr.length !==0 && queryStr.climbing==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="climbing">
                                    Climbing
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="rafting" value="true" id="rafting"
                                    <%=queryStr.length !==0 && queryStr.rafting==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="rafting">
                                    Rafting
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="walkingTours" value="true"
                                    id="walkingTours" <%=queryStr.length !==0 && queryStr.walkingTours==="true" ? "checked" : "" %>>
                                <label class="form-check-label" for="walkingTours">
                                    Walking Tours
                                </label>
                            </div>
                        </li>

                    </ul>
                    <div class="d-grid col-10 mx-auto mb-2">
                        <button class="btn btn-outline-success btn-sm" value="Filter" type="submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-10">
            <ul class="ps-0">
                <% for (let campground of campgrounds) {%>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <% if(campground.images.length) {%>
                                    <img crossorigin="anonymous" class="img-fluid" src="<%= campground.images[0].url %>"
                                        alt="">
                                    <% } else { %>
                                        <img crossorigin="anonymous" class="img-fluid"
                                            src="https://res.cloudinary.com/ddfogyd0b/image/upload/v1714982216/ForRestCamp/No_Image_Available_qyc8nl.jpg"
                                            alt="">
                                        <% } %>
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <%= campground.title %>
                                        <% if (campground.overallRating) {%>
                                            <span class="badge rounded-pill text-bg-primary">
                                                <%= campground.overallRating %>
                                            </span>
                                            <% } %>
                                    </h4>
                                    <p class="card-text">
                                        <%= campground.description.substring(0, 160) + "..." %>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            <%= campground.location %>
                                        </small>
                                    </p>
                                    <div class="row">
                                        <div class="col align-self-end">
                                            <h4 class="mb-0"><span class="badge rounded-pill text-bg-light" style="border-style: solid;">
                                                    <%= campground.price %> RON/night
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="col align-self-end">
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    
                                                <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">View <%= campground.title %></a>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </ul>
        </div>
    </div>
    <script>
        const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
    </script>
    <script src="/javascripts/clusterMap.js"></script>