<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/stars-grow.css">


    <body>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <ul class="list-group list-group-flush">
                    <a href="/mysettings" class="list-group-item list-group-item-action">Manage Account</a>
                    <a href="/mytrips" class="list-group-item list-group-item-action">Bookings & Trips</a>
                    <a href="/myreviews" class="list-group-item list-group-item-action active"
                        aria-current="true">Reviews</a>
                    <a href="/mywishlist" class="list-group-item list-group-item-action">Saved</a>
                </ul>
            </div>

            <div class="card mb-3 col-md-6">
                <div class="card-body">
                    <h1 class="card-title">
                        My Reviews
                    </h1>
                    <p class="card-text">
                        Small description
                    </p>
                </div>
                <% for(let review of reviews) {%>
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 pb-2 pt-2 ps-2">
                                <img crossorigin="anonymous"
                                    src="https://res.cloudinary.com/ddfogyd0b/image/upload/v1715113305/ForRestCamp/zv22lrf9t7p0vleaxnta.jpg"
                                    class="rounded img-fluid border border-black" alt="..."
                                    style="--bs-border-opacity: .15;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                        Rated: <%= review.rating %>3 stars
                                    </p>
                                    <h5 class="card-title"><a class=" link-underline link-underline-opacity-0"
                                            href="/campgrounds/<%= review.campground._id %>">
                                            <%= review.campground.title %>
                                        </a></h5>
                                    <p class="card-text">
                                        <%= review.body %>
                                    </p>
                                    <p class="card-text"><small class="text-body-secondary">
                                            <%= review.createdAt.toDateString() %>
                                        </small>
                                    </p>
                                    <form
                                        action="/campgrounds/<%= review.campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
    </body>