<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <ul class="list-group list-group-flush">
                    <a href="/mysettings" class="list-group-item list-group-item-action active"
                        aria-current="true">Manage Account</a>
                    <a href="/mytrips" class="list-group-item list-group-item-action">Bookings & Trips</a>
                    <a href="/myreviews" class="list-group-item list-group-item-action">Reviews</a>
                    <a href="/mywishlist" class="list-group-item list-group-item-action">Saved</a>
                </ul>
            </div>

            <div class="card mb-3 col-md-6">
                <div class="card-body">
                    <h1 class="card-title">
                        My Settings
                    </h1>
                    <p class="card-text">
                        Small description
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Name</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Display Name</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Email address</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Phone number</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Date of birth</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Nationality</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Gender</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Address</strong>
                            </div>
                            <div class="col">
                                <%= currentUser._id %>
                            </div>
                            <div class="col d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 collapse" id="collapseExample">
                            <form action="#" method="">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Name"
                                        aria-describedby="button-save">
                                    <button class="btn btn-outline-success" type="button" id="button-save">Save</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- <div class="col-md-6 ">
                <h1 class="text-left">My Settings</h1>
                <form action="/campgrounds" method="POST" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="campground[title]" id="title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>

                </form>
                <footer><a href="/campgrounds">Back</a></footer>
            </div> -->
        </div>
    </body>